x* {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
}
  
  html {
    --foreground:   #333;     /* text */
    --background:   #EAE7DF;  /* grey */
    --primary:      #3477c9;  /* blue */
    --secondary:    #b8d9ff;  /* yellow */
    --muted:        #526099;  /* also pink */
    --spacing-s:    8px;
    --spacing-m:    24px;
    --spacing-l:    32px;
    --spacing-xl:   48px;
    --sans:         "Franklin Gothic Book", "Source Sans Pro", Helvetica, Arial, sans-serif;
    --serif:        "Lora", Baskerville, Georgia, serif;
    --mono:         "Source Code Pro", Monaco, Courier, monospace;
}

body {
    font-family: var(--serif);
    font-weight: 200;
    margin: 2em;
    background: var(--background);
    color: var(--foreground);
    line-height: 1.75;
    max-width: 900px;
}

h1 {
  display: inline-block;
  font-size: 56px;
  /* TODO scale size */
}

h1,
h2,
h3,
h4 {
  margin-top: var(--spacing-xl);
  color: var(--foreground);
}

h2,
h3,
h4 {
  font-family: var(--sans);
}

p {
  margin-top: var(--spacing-l);
  font-size: 16px;
}

ul.flush {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

ul > li,
ol > li {
  margin-bottom: var(--spacing-s);
}

ul.no-bullet {
  list-style-type: none;
}

a:link,
a:visited {
  color: var(--foreground);
  text-decoration-color: var(--foreground);
  text-decoration-thickness: .125em;
  text-underline-offset: 3px;
  transition: background 0.2s linear;
}

a:hover {
    background: var(--secondary) !important;
  }

.meta-text {
    font-size: 12px;
    font-family: var(--mono), monospace;
    color: var(--primary);
    font-weight: 600;
}

footer {
    margin: var(--spacing-xl) 0;
    padding-top: var(--spacing-l);
}

img {
  /* background-color: var(--secondary); */
  max-width: 100%;
}

a img {
  background: none !important;
}

figure {
  margin: 0;
}

figcaption,
.meta-text {
  font-size: 12px;
  font-family: var(--mono), monospace;
  color: var(--primary);
  font-weight: 600;
}

a.secret-link {
  color: var(--primary); 
  /* TODO: use whatever color was already being used for the text */
  text-decoration: none;
  transition: background 0.2s linear;
}

/* Books */

.center {
  text-align: center;
}

/* .book-shelf-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: space-around;
} */

ul.book-shelf-container  {
  list-style: none;
  max-width: 100%;
  margin: 2em auto;
  padding: 0;
  display: inline-grid;
  grid-template: auto / repeat(auto-fill, 8em);
  grid-gap: 1em;
  align-items: end; 
}

img.book {
  max-width: 134px;
}

.book-list-container {
  font-family: var(--sans);
  font-weight: 100;
  font-size: 14px;
}

.book-list-container td {
  padding-right: 10px;
}

.book-list-container thead th {
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-align: left;
  padding-right: 8px;
}

.book-list-container table {
    counter-reset: rowNumber - 1;
}

.book-list-container table tr {
    counter-increment: rowNumber;
}

.book-list-container td.table-row-number:before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    text-align: right;
    /* Copied from meta-text */
    font-size: 12px;
    font-family: var(--mono);
    color: var(--primary);
    font-weight: 600;
}

/* Quotes */

.quote {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}